* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


nav h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
    color: #1565c0;

}


h3 {
    text-align: center;
    font-size: 25px;
    color: #1565c0;
    margin: 10px 0;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;

}

textarea {
    background-color: #121212;
    font-size: 18px;
    color: #e2e2e2;
    width: 29pc;
    height: 45vh;
    padding: 10px;
    outline: none;
    border: none;
    resize: none;
}

iframe {
    height: 100vh;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}

.result {
    background-color: #f0f0f0;
    height: 100vh;
    border: 3px solid #ccc;
    margin: 10px;
}


@media (max-width:992px) {
    .content {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: auto;
    }

    textarea {
        width: 90%;
        margin: auto;
    }
}